/work/build/
/work/dist/
/work/target/
/work/scripts/__pycache__/
/work/TVectorBlur/bin/*
!/work/TVectorBlur/bin/.gitkeep
/.vs/
/.idea/
/.vscode/
*.user
*.suo
*.opensdf
*.VC.db
*.VC.VC.opendb
*.obj
*.o
*.pdb
*.ilk
*.exp
*.lib
*.a
*.so
*.dylib
*.dll
*.zip
__pycache__/
*.pyc
!/publish/TVectorBlur/bin/
!/publish/TVectorBlur/bin/**/
!/publish/TVectorBlur/bin/**/*.dll
!/publish/TVectorBlur/bin/**/*.so
!/publish/TVectorBlur/bin/**/*.dylib
